section {
  display: flex;
  justify-content: space-around;
  height: 50vh;
  padding: 3% 10%;
  .text {
    margin-top: 10%;
    width: 60%;
    h1 {
      font-size: 5em;
      margin: 0;
    }
    p {
      font-size: 1.8em;
      margin: 0 0 10px;
    }
    button {
      background: #c95766;
      color: white;
      box-shadow: 0px 4px 10px 0px rgba(11, 31, 73, 0.219);
      border: none;
      border-radius: 14px;
      margin-top: 0.5em;
      font-size: 1.7em;
      font-weight: 300;
      padding: 0.5em 1em;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        opacity: 0.8;
        box-shadow: 0px 5px 15px 0px rgba(11, 31, 73, 0.288);
      }
      &:active {
        opacity: 1;
        box-shadow: 0px 0px 5px 0px rgba(11, 31, 73, 0.397);
      }
    }
  }
  .illustration {
    opacity: 0.8;
    width: 40%;
  }
  svg {
    position: absolute;
    bottom: 0%;
    z-index: -1;
    transform: rotate(180deg);
    width: 100%;
  }
}
@media (max-width: 1500px) {
  section {
    height: 70vh;
    padding: 3% 8%;
    .text {
      margin-top: 10%;
      h1 {
        font-size: 4.5em;
      }
    }
    .illustration {
      img {
        transform: scale(0.95) translateX(-5em) translateY(-2em);
      }
    }
  }
}
@media (max-width: 1300px) {
  section {
    height: 65vh;
    .text {
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 1.6em;
      }
      button {
        font-size: 1.4em;
      }
    }
    .illustration {
      transform: scale(0.85) translateX(-2em) translateY(-2em);
    }
    svg {
      bottom: -3%;
    }
  }
}
@media (max-width: 1100px) {
  section {
    height: 30vh;
    padding: 3%;
    .text {
      z-index: 5;
      h1 {
        font-size: 3.5em;
      }
      p {
        font-size: 1.4em;
      }
    }
    .illustration {
      width: 20%;
      transform: scale(0.65) translateX(-18em) translateY(-2em);
    }
    svg {
      bottom: 50%;
    }
  }
}
@media (max-width: 1000px) {
  section {
    height: 40vh;
    .text {
      width: 60%;
      margin-top: 15%;
      h1 {
        font-size: 2.8em;
      }
      p {
        font-size: 1.1em;
      }
      button {
        font-size: 1.2em;
      }
    }
    .illustration {
      transform: scale(0.5) translateX(-18em) translateY(-3.5em);
    }
    svg {
      bottom: 40%;
    }
  }
}
@media (max-width: 700px) {
  section {
    position: relative;
    height: 66vh;
    .text {
      width: 100%;
      margin: 60% auto 0;
      text-align: center;
      h1 {
        font-size: 2.8em;
      }
      p {
        font-size: 1.1em;
      }
      button {
        font-size: 1.2em;
      }
    }
    .illustration {
      position: absolute;
      top: -13%;
      left: 50%;
    }
    svg {
      bottom: -10%;
    }
  }
}
@media (max-width: 500px) {
  section {
    height: 70vh;
    .text {
      margin: 75% auto 0;
    }
  }
}
@media (max-width: 420px) {
  section {
    height: 75vh;
    .text {
      width: 90%;
      margin: 80% 5% 0;
      h1 {
        font-size: 2.4em;
      }
      p {
        font-size: 1em;
        margin-bottom: 5px;
      }
    }
    .illustration {
      transform: scale(0.4) translateX(-19em) translateY(-8.5em);
    }
  }
}
@media (max-width: 390px) {
  section {
    .text {
      width: 90%;
      margin: 80% 5% 0;
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 0.8em;
      }
    }
    .illustration {
      transform: scale(0.4) translateX(-19em) translateY(-11.5em);
    }
  }
}
@media (max-width: 320px) {
  section {
    height: 80vh;
    .text {
      width: 95%;
      margin: 75% 2.5% 0;
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 0.8em;
      }
    }
    .illustration {
      transform: scale(0.35) translateX(-19em) translateY(-22.5em);
    }
  }
}
