<header>
  <div class="wrapper">
    <div class="logo">
      <h1>kirey<span>surance</span></h1>
    </div>

    <nav [ngClass]="{ active: showNav }">
      <a
        routerLink="/home"
        routerLinkActive="active"
        (click)="toggleNavigation()"
        >Home</a
      >
      <a
        routerLink="/client"
        routerLinkActive="active"
        (click)="toggleNavigation()"
        >Client</a
      >
      <a href="#about">About</a>
      <a href="#footer">Contact</a>
    </nav>
    <div id="hamburger" (click)="toggleNavigation()">
      <span [ngClass]="{ active: showNav }"></span>
      <span [ngClass]="{ active: showNav }"></span>
      <span [ngClass]="{ active: showNav }"></span>
    </div>
  </div>
  <!-- end .wrapper -->
</header>
