header {
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
  }
  .logo {
    h1 {
      color: white;
      text-transform: uppercase;
      span {
        font-weight: 200;
      }
    }
  }
  nav {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 1.3em;
      padding: 0.5em 2em;
      transition: 0.2s;
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        opacity: 0.8;
        font-size: 1.4em;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1100px) {
  header {
    .wrapper {
      width: 90%;
    }
    nav {
      a {
        font-size: 1em;
        padding: 0.5em 1em;
      }
    }
  }
}
