@import "../../scss/variables";
header {
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
  }
  .logo {
    h1 {
      color: white;
      text-transform: uppercase;
      span {
        font-weight: 200;
      }
    }
  }
  nav {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 1.3em;
      padding: 0.5em 2em;
      transition: 0.2s;
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        opacity: 0.8;
        font-size: 1.4em;
      }
      &:active {
        opacity: 1;
      }
    }
  }
  #hamburger {
    display: none;
    border: 2px solid white;
    position: absolute;
    right: 5%;
    top: 2.2%;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    padding: 3px 0;
    span {
      display: block;
      margin-left: 11px;
      margin-bottom: 5px;
      width: 25px;
      height: 2px;
      background: white;
      transition: 0.2s ease-in-out;
      &:nth-child(1) {
        margin-top: 12px;
      }
      &:nth-child(1).active {
        margin-top: 10px;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
      &:nth-child(2).active {
        opacity: 0;
      }
      &:nth-child(3).active {
        transform: translateY(-10px) rotate(45deg);
        margin-top: 11px;
      }
    }
    span.active {
      transform: translateY(10px) rotate(-45deg);
    }
  }
}
@media (max-width: 1100px) {
  header {
    .wrapper {
      width: 90%;
    }
    nav {
      a {
        font-size: 1em;
        padding: 0.5em 1em;
      }
    }
  }
}
@media (max-width: 700px) {
  header {
    .wrapper {
      width: 90%;
    }
    #hamburger {
      display: block;
      z-index: 2;
    }
    nav {
      background: $kireyNavy;
      position: absolute;
      right: 0%;
      top: 80px;
      height: 300px;
      padding: 2% 1.5%;
      flex-direction: column;
      z-index: 25;
      border-radius: 0px 0px 0px 20px;
      box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.281);
      transform: rotateZ(-18deg) rotateY(90deg);
      transition: 0.2s ease-in-out;
      opacity: 0;
      &.active {
        opacity: 1;
        transform: rotateZ(0deg) rotateY(0deg);
      }
      a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.192);
      }
    }
  }
}
@media (max-width: 420px) {
  header {
    height: 80px;

    .logo {
      img {
        margin: 22px 6px 0px 0px;
        height: 40px;
      }
      h1 {
        font-size: 1.5em;
        line-height: 50px;
      }
    }
  }
}
@media (max-width: 390px) {
  header {
    nav {
      padding: 2% 3%;
    }
  }
}
