<section>
  <h1>{{ heading }}</h1>

  <p-table [value]="clients" *ngIf="this.clients.length > 0">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Number of accounts</th>
        <th>Date of creation</th>
        <th>Edit or delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr (click)="setClientId($event)" [id]="client.id">
        <td>{{ client.code }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.duration }}</td>
        <td>{{ client.numberOfAccounts }}</td>
        <td>{{ client.dateOfCreation }}</td>
        <td>
          <button type="button" pButton (click)="openEditDialog()">Edit</button
          ><button type="button" pButton (click)="deleteClient()">
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    [header]="header"
    [modal]="displayDialog"
    [(visible)]="displayDialog"
  >
    <form
      [formGroup]="formGroup"
      (ngSubmit)="!edit ? addNewClient() : editClient()"
    >
      <div class="inputHolder">
        <label for="name">Name</label>
        <input formControlName="name" type="text" />
      </div>
      <div class="inputHolder">
        <label for="duration">Duration</label>
        <input formControlName="duration" type="number" />
      </div>
      <div class="inputHolder">
        <label for="numberOfAccounts">Number of accounts</label>
        <input formControlName="numberOfAccounts" type="number" />
      </div>

      <button type="submit">{{ header }}</button>
    </form>
  </p-dialog>

  <button type="button" pButton (click)="openCreateDialog()">Add client</button>
</section>
