<section>
  <h1>{{ name }}</h1>

  <p-table [value]="clients">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Number of accounts</th>
        <th>Date of creation</th>
        <th>Edit or delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr (click)="setClientId($event)">
        <td>{{ client.code }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.duration }}</td>
        <td>{{ client.numberOfAccounts }}</td>
        <td>{{ client.dateOfCreation }}</td>
        <td>
          <button type="button" pButton (click)="toggleCreateEditDialog()">
            Edit</button
          ><button type="button" pButton (click)="toggleDeleteDialog()">
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Add new client"
    [modal]="displayDialog"
    [(visible)]="displayDialog"
  >
    <form [formGroup]="formGroup" (ngSubmit)="addNewClient()">
      <div class="inputHolder">
        <label for="code">Code</label>
        <input formControlName="code" type="text" />
      </div>
      <div class="inputHolder">
        <label for="name">Name</label>
        <input formControlName="name" type="text" />
      </div>
      <div class="inputHolder">
        <label for="duration">Duration</label>
        <input formControlName="duration" type="number" />
      </div>
      <div class="inputHolder">
        <label for="numberOfAccounts">Number of accounts</label>
        <input formControlName="numberOfAccounts" type="number" />
      </div>

      <button type="submit">Add new client</button>
    </form>
  </p-dialog>
  <p-dialog
    header="Add client"
    [modal]="displayDeleteDialog"
    [(visible)]="displayDeleteDialog"
  >
    <h1>Do you want to delete this client?</h1>
    <button type="button" pButton (click)="deleteClient()">Delete</button>
    <button>Cancel</button>
  </p-dialog>
  <button type="button" pButton (click)="toggleCreateEditDialog()">
    Add client
  </button>
</section>
