.background {
  position: absolute;
  top: 55%;
  left: 5%;
  transform: rotate(15deg) scale(1.2) translate(-50%, -50%);
  z-index: 1;
  opacity: 0.022;
  animation: fadeIn 0.3s ease-in-out;
}
section {
  width: 80%;
  margin: 5% auto;
  display: relative;
  t-body {
    background: transparent;
  }
  p-progressspinner {
    margin-left: 45%;
  }

  #addClientBtn {
    width: 100%;
    margin: 5% auto 0;
    font-size: 1.5em;
  }
  #deleteBtn {
    margin-left: 10px;
  }
  #dialogBtn {
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 200;
  }

  .inputHolder {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    label {
      margin-bottom: 0.4em;
    }
    input {
      outline: none;

      &.ng-touched.ng-invalid {
        border: 1px solid red;
      }
    }
    p-input {
      &.ng-touched.ng-invalid {
        border: 1px solid red;
      }
    }
  }
  .backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 800px) {
  .background {
    display: none;
  }
  section {
    width: 95%;
    margin: 5% auto;
    h1 {
      font-size: 2.5em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid rgba(3, 3, 65, 0.164);
    }
  }
}
@media (max-width: 420px) {
  section {
    h1 {
      font-size: 2em;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.022;
  }
}
