section {
  width: 80%;
  margin: 10% auto;
  .inputHolder {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    label {
      margin-bottom: 0.4em;
    }
    input {
      height: 30px;
      outline: none;
    }
  }
}
