<section>
  <p id="ampersand">&</p>
  <p id="heading">Taking care both of:</p>
  <div class="cards">
    <div class="card">
      <img src="../../../assets/img/heart.png" alt="icon" />
      <h3>Your health</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, aperiam
        sit? Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/img/piggy-bank.png" alt="icon" />
      <h3>Your wealth</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, aperiam
        sit? Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</section>
