section {
  height: 80vh;
  margin-top: 25%;
  #ampersand {
    color: #5db6dd;
    font-weight: 900;
    position: absolute;
    font-size: 30em;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
  }
  #heading {
    font-weight: 900;
    font-size: 3em;
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    margin: 5% auto 0;
    width: 80%;

    .card {
      width: 480px;
      text-align: center;

      img {
        height: 200px;
      }
      h3 {
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
        line-height: 45px;
      }
    }
  }
}
@media (max-width: 1500px) {
  section {
    margin-top: 22%;
    height: 80vh;
    #ampersand {
      transform: translate(-50%, -35%);
    }
    .cards {
      .card {
        img {
          height: 180px;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  section {
    height: 90vh;
    .cards {
      margin-top: 5%;
      .card {
        width: 350px;
      }
    }
  }
}
@media (max-width: 1100px) {
  section {
    height: 40vh;
    margin-top: 25%;
    #ampersand {
      top: 40%;
      font-size: 25em;
      opacity: 0.08;
    }
    #heading {
      font-size: 2em;
    }
    .cards {
      margin-top: 0;
      .card {
        width: 300px;
        h3 {
          font-size: 1.6em;
        }
        p {
          font-size: 1.2em;
          line-height: 30px;
        }

        img {
          height: 100px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  section {
    height: 45vh;
    #ampersand {
      top: 43%;
    }
    .cards {
      .card {
        width: 280px;
      }
    }
  }
}
@media (max-width: 700px) {
  section {
    height: 100vh;
    #ampersand {
      top: 125%;
      font-size: 10em;
    }
    .cards {
      flex-wrap: wrap;
      .card {
        margin-bottom: 10em;
      }
    }
  }
}
