section {
  position: relative;
  padding: 5%;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  .text {
    position: absolute;
    left: 7%;
    z-index: 2;
    width: 40%;
    h2 {
      font-size: 5.5em;
      margin-bottom: 0.4em;
    }
    p {
      font-size: 2em;
      line-height: 60px;
    }
  }
  .illustration {
    position: absolute;
    right: 0%;
    top: 0%;
    img {
      transform: scale(0.9);
      opacity: 0.45;
    }
  }
}
